.UserCard {
  width: 250px;
  border: 1px solid #444c56;
  border-radius: 10px;
}

.avatar {
  display: block;
  margin: 0 auto;
}

.name {
  text-align: center;
}

.contacts {
  padding-left: 30px;
  font-size: 14px;
  margin-bottom: 10px;
}
